body{
  background-color : #ebebeb;
  font-family : Meiryo;
}

p{
  font-size : 13pt;
  color : black;
  margin : 20px
}

h1{
  font-size : 18pt;
  color : black;
  margin : 20pt
}

h2{
  font-size : 16pt;
  color : black;
  margin : 18pt
}

code{
  font-family: Menlo, Consolas;
  font-size : 12pt;
  color : white;
}
